<mat-toolbar color="accent">
  <div class="right-bar">
    <span matTooltip="Home"><button mat-icon-button><mat-icon>home</mat-icon></button></span>&nbsp;
    <span matTooltip="Care jobs"><button routerLink="/jobs" mat-icon-button><mat-icon>child_friendly</mat-icon></button></span>&nbsp;
    <span matTooltip="Care takers"><button routerLink="/careTakers" mat-icon-button><mat-icon>loyalty</mat-icon></button></span>&nbsp;
    <span matTooltip="Messaging"><button mat-icon-button><mat-icon>message</mat-icon></button></span>&nbsp;
   <span class="nav-item"> <button mat-button>Post a job</button> </span>
  </div>
  <button mat-icon-button><mat-icon>keyboard_arrow_down</mat-icon></button>&nbsp;
</mat-toolbar>
<mat-toolbar>Find your dream care job today</mat-toolbar>
<form [formGroup]="heroForm" novalidate>
  <div class="my-form">
    <mat-form-field>
      <div class="form-group">
        <input matInput class="form-control" formControlName="function" placeholder="Search job by function">
      </div>
    </mat-form-field>
    <mat-form-field>
      <div class="form-group">
        <input matInput class="form-control" formControlName="townStatePostalCode" placeholder="Town, state or postal code">
      </div>
    </mat-form-field>
    <button mat-raised-button color="accent">Search</button>
  </div>
</form>
<br>
<mat-toolbar>Care jobs that were posted this week</mat-toolbar>
<div class="job-list">
<div class="col1" *ngFor="let job of jobs" infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()" >
  
  <mat-card class="job-card">
    <mat-card-header>
      <div mat-card-avatar class="job-header-image"></div>
      <mat-card-title>{{job.jobFunction}}</mat-card-title>
        <mat-card-subtitle>{{job.description}}</mat-card-subtitle>
    </mat-card-header>
    <cl-image mat-card-image class="job-image" public-id="{{job.imageId}}.jpg" height="200px">
    </cl-image>
     <mat-card-content>
    <p> <mat-icon color="accent">favorite</mat-icon> {{job.userFirstName}} {{job.userLastName}}</p>
    <p><mat-icon color="accent">location_on</mat-icon>  {{job.location}}</p>
    <p><mat-icon color="accent">access_alarms</mat-icon> {{job.expirationDate}}</p>
   </mat-card-content>
   <mat-card-actions>
    <button mat-button>DETAILS</button>
    <button mat-button>SAVE</button>
  </mat-card-actions>                                                                                                                                                                                                             
  </mat-card>
  </div>
</div>
